.btn {
    &:link,
    &:visited {
        transition: all .2s;
        position: relative;
    }
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 10rem 20rem rgba($color-black, .4);
        &::after {
            transform: scaleX(1.3) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 5rem 10rem rgba($color-black, .2);
    }
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        letter-spacing: .5rem;
        font-size: 1.6rem;
        &::after {
            background-color: $color-white;
        }
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &--animated {
        -webkit-animation: moveInUp 1s ease-out;
        animation: moveInUp 1s ease-out;
    }
}

.btn-text {
    &:visited,
    &:link {
        font-size: 1.6rem;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }
    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 .5rem 2rem rgba($color-black, .2);
        transform: translateY(-1px);
    }
}