.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 53rem;
    &__side {
        height: 53rem;
        transition: all 1s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color: #000, $alpha: .25);
        &--front {
            background-color: white;
        }
        &--back {
            transform: rotateY(180deg);
            &-1 {
                background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
            }
            &-2 {
                background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
            }
            &-3 {
                background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
            }
        }
    }
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
    &:hover &__side--back {
        transform: rotateY(0);
    }
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: hard-light;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        &-1 {
            background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
        }
        &-2 {
            background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg);
        }
        &-3 {
            background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
        }
    }
    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        &-span {
            &-1 {
                background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
            }
            &-2 {
                background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
            }
            &-3 {
                background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
            }
        }
    }
    &__details {
        padding: 3rem;
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                &:not(:last-child) {
                    border-bottom: 1px solid #eee;
                }
            }
        }
    }
    &__price-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-align: center;
    }
    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    &__price-value {
        font-size: 8rem;
        font-weight: 300;
    }
}