.composition {
    position: relative;
    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;
        @include respond(tab-port) {
            float: left;
            position: relative;
            width: 33.33333%;
            box-shadow: 0 1rem 3rem rgba($color-black, 0.2);
        }
        &--p1 {
            left: 0;
            top: 0;
            @include respond(tab-port) {
                top: 0;
                transform: scale(1.2);
            }
        }
        &--p2 {
            right: 0;
            top: 6rem;
            @include respond(tab-port) {
                top: -1rem;
                right: 0rem;
                z-index: 11;
                transform: scale(1.3);
            }
        }
        &--p3 {
            top: 13rem;
            left: 6rem;
            @include respond(tab-port) {
                top: 1rem;
                left: 0rem;
                transform: scale(1.1);
            }
        }
        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.1) translateY(-5px);
            box-shadow: 0 22.5rem 4rem rgba($color-black, 0.5);
            z-index: 20;
            @include respond(tab-port) {
                transform: scale(1.4) translateY(-5px);
            }
        }
    }
    &:hover &__photo:not(:hover) {
        transform: scale(0.9);
    }
}