.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }
    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 3px;
        background-color: rgba($color: white, $alpha: 0.5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 80%;
        display: block;
        transition: all .4s;
        @include respond(tab-port) {
            width: 100%;
        }
        &::-webkit-input-placeholder {
            color: gray;
        }
        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color: black, $alpha: 0.2);
            border-bottom: 3px solid $color-primary;
        }
        &:focus:invalid {
            border-bottom: 3px solid orangered;
        }
    }
    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: 0.7rem;
        margin-left: 2rem;
        display: block;
        transition: all .4s;
    }
    &__input:placeholder-shown+&__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
    &__radio {
        &-group {
            width: 49%;
            display: inline-block;
            @include respond(tab-port) {
                width: 100%;
                margin-bottom: 2rem;
            }
        }
        &-input {
            display: none;
        }
        &-label {
            font-size: 1.6rem;
            cursor: pointer;
            position: relative;
            padding-left: 4rem;
        }
        &-button {
            display: inline-block;
            height: 2.5rem;
            width: 2.5rem;
            border: 5px solid $color-primary;
            border-radius: 100%;
            position: absolute;
            left: 0;
            top: -0.3rem;
            &::after {
                content: "";
                display: block;
                border-radius: 100%;
                height: 1rem;
                width: 1rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: $color-primary;
                opacity: 0;
                transition: opacity .2s;
            }
        }
        &-input:checked~&-label &-button::after {
            opacity: 1;
        }
    }
}