*,
*::after,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    @include respond(tab-land) {
        font-size: 56.25%;
    }
    @include respond(tab-port) {
        font-size: 50%;
    }
    @include respond(phone) {
        font-size: 40%;
    }
    @include respond(big-desk) {
        font-size: 75%;
    }
}

body {
    padding: 3rem;
    box-sizing: border-box;
    @include respond(tab-port) {
        padding: 0;
    }
    @include respond(phone) {
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: white;
}