.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        -webkit-animation-name: moveInLeft;
        animation-name: moveInLeft;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        @include respond(phone) {
            letter-spacing: 1.5rem;
            font-size: 5rem;
        }
    }
    &--sub {
        padding-left: 3rem;
        display: block;
        margin-bottom: 5rem;
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: 2.5rem;
        -webkit-animation-name: moveInRight;
        animation-name: moveInRight;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        @include respond(phone) {
            letter-spacing: 1rem;
        }
    }
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-secondry {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
    @include respond(tab-port) {
        font-size: 3rem;
    }
    @include respond(phone) {
        font-size: 2.5rem;
    }
    &:hover {
        transform: skewY(8deg) skewX(12deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, 2.2);
    }
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}